.alignment-module {
    width: 100%;
    text-align: left;
}

.alignment-wrapper {
    position: relative;
    display: inline-block;
    width: inherit;
    height: 200px;
}

[class^="align-*"] {
    position: absolute;
    float: left;
}

.align-left {
    left: 0;
    top: 0;
    float: left;
    position: absolute;
}

.align-right {
    top: 0;
    right: 0;
    float: left;
    position: absolute;
}

.align-center {
    left: 50%;
    right: 50%;
    float: left;
    position: absolute;
}


a, a:hover, a:visited, a:focus {
    text-decoration: none;
    color: black;
}

.product {
    width: 300px;
    height: 400px;
    position: relative;
}

.df-product-outer-wrap {
    width: inherit;
    height: inherit;
}

.df-product-image-wrap, .df-sale-badge {
    width: inherit;
    height: inherit;
}


.df-sale-badge {
    display: inline;
}

.df-product-image-wrap {
    position: relative;
    height: 300px;
}


.df-product-inner-wrap {
    max-width: 100%;
}



.top-left-text {
    left: 0;
    top: 0;
    float: left;
    position: absolute;
}

.top-right-text {
    right: 0;
    top: 0;
    float: left;
    position: absolute;
}

.top-center-text {
    right: 50%;
    left: 50%;
    float: left;
    position: absolute;
}

.center-left-text {
    left: 0;
    top: 50%;
    float: left;
    position: absolute;
}

.center-right-text {
    right: 0;
    top: 50%;
    float: left;
    position: absolute;
}

.center-center-text {
    left: 50%;
    top: 50%;
    float: left;
    position: absolute;
}


.bottom-left-text {
    left: 0;
    bottom: 0;
    float: left;
    position: absolute;
}

.bottom-right-text {
    right: 0;
    bottom: 0;
    float: left;
    position: absolute;
}

.bottom-center-text {
    right: 50%;
    left: 50%;
    bottom:0;
    float: left;
    position: absolute;
}
