.alignment-module {
    width: 100%;
    text-align: left;
}

.alignment-wrapper {
    position: relative;
    display: inline-block;
    width: inherit;
    height: 200px;
}

[class^="align-*"] {
    position: absolute;
    float: left;
}

.align-left {
    left: 0;
    top: 0;
    float: left;
    position: absolute;
}

.align-right {
    top: 0;
    right: 0;
    float: left;
    position: absolute;
}

.align-center {
    left: 50%;
    right: 50%;
    float: left;
    position: absolute;
}


a, a:hover, a:visited, a:focus {
    text-decoration: none;
    color: black;
}

.product {
    width: 300px;
    height: 400px;
    position: relative;
}

.df-product-outer-wrap, .df-sale-badge-wrapper, .df-product-inner-wrap {
    width: inherit;
    height: inherit;
}

.df-product-inner-wrap, .df-product-image-wrap {
    position: relative;
}

.df-product-inner-wrap {
    max-width: 100%;
}


.df-sale-badge-wrapper {
    position: relative;
    max-width: 100%;
    width: auto;
}


.before-text {
    left: 0;
    top: 0;
    float: left;
    position: absolute;
}

.after-text {
    right: 0;
    top: 0;
    float: left;
    position: absolute;
}

.center-text {
    right: 50%;
    left: 50%;
    float: left;
    position: absolute;
}
