.et_pb_row_11 {
    max-width: 100%;
}

.et_pb_row {
    width: 80%;
    margin: auto;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 1500px) {
    .et_pb_row {
        padding: 30px 0;
    }
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.et_pb_gutters2 .et_pb_column, .et_pb_gutters2.et_pb_row .et_pb_column {
    margin-right: 3%;
}

.et_pb_row .et_pb_column {
    width: 25%;
}

.et_pb_column, .et_pb_row, .et_pb_inner {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.et_pb_css_mix_blend_mode_passthrough {
    mix-blend-mode: unset!important;
}

.et_pb_section.et_section_specialty div.et_pb_row .et_pb_column .et_pb_column .et_pb_module.et-last-child, .et_pb_section.et_section_specialty div.et_pb_row .et_pb_column .et_pb_column .et_pb_module:last-child, .et_pb_section.et_section_specialty div.et_pb_row .et_pb_column .et_pb_row_inner .et_pb_column .et_pb_module.et-last-child, .et_pb_section.et_section_specialty div.et_pb_row .et_pb_column .et_pb_row_inner .et_pb_column .et_pb_module:last-child, .et_pb_section div.et_pb_row .et_pb_column .et_pb_module.et-last-child, .et_pb_section div.et_pb_row .et_pb_column .et_pb_module:last-child {
    margin-bottom: 0;
}

.et_pb_module_inner {
    position: relative;
}

.difl_flipbox_27 .df_flipbox_container, .difl_flipbox_30 .df_flipbox_container, .difl_flipbox_23 .df_flipbox_container, .difl_flipbox_31 .df_flipbox_container, .difl_flipbox_16 .df_flipbox_container, .difl_flipbox_28 .df_flipbox_container, .difl_flipbox_32 .df_flipbox_container, .difl_flipbox_17 .df_flipbox_container, .difl_flipbox_25 .df_flipbox_container, .difl_flipbox_24 .df_flipbox_container, .difl_flipbox_29 .df_flipbox_container, .difl_flipbox_26 .df_flipbox_container, .difl_flipbox_15 .df_flipbox_container, .difl_flipbox_18 .df_flipbox_container {
    height: 400px!important;
}

.df_flipbox_container {
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: z-index,-webkit-transform .3s;
    transition: z-index,transform .3s,-webkit-transform .3s;
    text-decoration: none;
    z-index: 0;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.difl_flipbox_26 .df_flipbox_body, .difl_flipbox_26 .df_fb_front, .difl_flipbox_26 .df_fb_back, .difl_flipbox_9 .df_flipbox_body, .difl_flipbox_9 .df_fb_front, .difl_flipbox_9 .df_fb_back, .difl_flipbox_11 .df_flipbox_body, .difl_flipbox_11 .df_fb_front, .difl_flipbox_11 .df_fb_back, .difl_flipbox_10 .df_flipbox_body, .difl_flipbox_10 .df_fb_front, .difl_flipbox_10 .df_fb_back, .difl_flipbox_25 .df_flipbox_body, .difl_flipbox_25 .df_fb_front, .difl_flipbox_25 .df_fb_back, .difl_flipbox_40 .df_flipbox_body, .difl_flipbox_40 .df_fb_front, .difl_flipbox_40 .df_fb_back, .difl_flipbox_38 .df_flipbox_body, .difl_flipbox_38 .df_fb_front, .difl_flipbox_38 .df_fb_back, .difl_flipbox_14 .df_flipbox_body, .difl_flipbox_14 .df_fb_front, .difl_flipbox_14 .df_fb_back, .difl_flipbox_24 .df_flipbox_body, .difl_flipbox_24 .df_fb_front, .difl_flipbox_24 .df_fb_back, .difl_flipbox_37 .df_flipbox_body, .difl_flipbox_37 .df_fb_front, .difl_flipbox_37 .df_fb_back, .difl_flipbox_15 .df_flipbox_body, .difl_flipbox_15 .df_fb_front, .difl_flipbox_15 .df_fb_back, .difl_flipbox_8 .df_flipbox_body, .difl_flipbox_8 .df_fb_front, .difl_flipbox_8 .df_fb_back, .difl_flipbox_18 .df_flipbox_body, .difl_flipbox_18 .df_fb_front, .difl_flipbox_18 .df_fb_back, .difl_flipbox_39 .df_flipbox_body, .difl_flipbox_39 .df_fb_front, .difl_flipbox_39 .df_fb_back, .difl_flipbox_23 .df_flipbox_body, .difl_flipbox_23 .df_fb_front, .difl_flipbox_23 .df_fb_back, .difl_flipbox_7 .df_flipbox_body, .difl_flipbox_7 .df_fb_front, .difl_flipbox_7 .df_fb_back, .difl_flipbox_16 .df_flipbox_body, .difl_flipbox_16 .df_fb_front, .difl_flipbox_16 .df_fb_back, .difl_flipbox_35 .df_flipbox_body, .difl_flipbox_35 .df_fb_front, .difl_flipbox_35 .df_fb_back, .difl_flipbox_31 .df_flipbox_body, .difl_flipbox_31 .df_fb_front, .difl_flipbox_31 .df_fb_back, .difl_flipbox_12 .df_flipbox_body, .difl_flipbox_12 .df_fb_front, .difl_flipbox_12 .df_fb_back, .difl_flipbox_27 .df_flipbox_body, .difl_flipbox_27 .df_fb_front, .difl_flipbox_27 .df_fb_back, .difl_flipbox_13 .df_flipbox_body, .difl_flipbox_13 .df_fb_front, .difl_flipbox_13 .df_fb_back, .difl_flipbox_32 .df_flipbox_body, .difl_flipbox_32 .df_fb_front, .difl_flipbox_32 .df_fb_back, .difl_flipbox_28 .df_flipbox_body, .difl_flipbox_28 .df_fb_front, .difl_flipbox_28 .df_fb_back, .difl_flipbox_17 .df_flipbox_body, .difl_flipbox_17 .df_fb_front, .difl_flipbox_17 .df_fb_back, .difl_flipbox_30 .df_flipbox_body, .difl_flipbox_30 .df_fb_front, .difl_flipbox_30 .df_fb_back {
    transition: opacity 600ms ease-in-out 0ms,transform 600ms ease-in-out 0ms;
}

.df_fb_back, .df_fb_front, .df_flipbox_body {
    display: -ms-flexbox;
    display: flex;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    max-width: 100%;
}

.df_flipbox_body {
    -ms-flex: 1 1;
    flex: 1 1;
}

.df_flipbox_container.rotate.fb_floating_content .df_fb_back, .df_flipbox_container.rotate.fb_floating_content .df_fb_front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


.df_fb_back, .df_fb_back .fb_inner, .df_fb_front, .df_fb_front .fb_inner {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%;
    border-width: 0;
}
.df_fb_back, .df_fb_front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.df_fb_back, .df_fb_front, .df_flipbox_body {
    display: -ms-flexbox;
    display: flex;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    max-width: 100%;
}
.df_fb_back, .df_fb_button, .df_fb_front, .df_fb_image_container img {
    border-style: solid;
    border-width: 0;
}

.difl_flipbox_17 .df_flipbox_container.rotate.fb_floating_content .df_fb_front .fb_inner, .difl_flipbox_13 .df_flipbox_container.rotate.fb_floating_content .df_fb_back .fb_inner, .difl_flipbox_17 .df_flipbox_container.rotate.fb_floating_content .df_fb_back .fb_inner, .difl_flipbox_14 .df_flipbox_container.rotate.fb_floating_content .df_fb_front .fb_inner, .difl_flipbox_15 .df_flipbox_container.rotate.fb_floating_content .df_fb_front .fb_inner, .difl_flipbox_14 .df_flipbox_container.rotate.fb_floating_content .df_fb_back .fb_inner, .difl_flipbox_11 .df_flipbox_container.rotate.fb_floating_content .df_fb_back .fb_inner, .difl_flipbox_15 .df_flipbox_container.rotate.fb_floating_content .df_fb_back .fb_inner, .difl_flipbox_16 .df_flipbox_container.rotate.fb_floating_content .df_fb_front .fb_inner, .difl_flipbox_11 .df_flipbox_container.rotate.fb_floating_content .df_fb_front .fb_inner, .difl_flipbox_12 .df_flipbox_container.rotate.fb_floating_content .df_fb_back .fb_inner, .difl_flipbox_16 .df_flipbox_container.rotate.fb_floating_content .df_fb_back .fb_inner, .difl_flipbox_13 .df_flipbox_container.rotate.fb_floating_content .df_fb_front .fb_inner, .difl_flipbox_18 .df_flipbox_container.rotate.fb_floating_content .df_fb_back .fb_inner, .difl_flipbox_18 .df_flipbox_container.rotate.fb_floating_content .df_fb_front .fb_inner, .difl_flipbox_12 .df_flipbox_container.rotate.fb_floating_content .df_fb_front .fb_inner {
    overflow: visible;
}
.difl_flipbox_15 .df_fb_front .fb_inner {
    background-image: url(https://diviedge.com/demo-diviflash/wp-content/uploads/2020/10/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}
.df_fb_back .fb_inner, .df_fb_front .fb_inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-style: solid;
    -ms-flex-align: start;
    align-items: flex-start;
}
.df_fb_back, .df_fb_back .fb_inner, .df_fb_front, .df_fb_front .fb_inner {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%;
    border-width: 0;
}

.difl_flipbox_16 .df_flipbox_container.rotate.fb_floating_content .df_fb_front .fb_inner_content, .difl_flipbox_18 .df_flipbox_container.rotate.fb_floating_content .df_fb_front .fb_inner_content, .difl_flipbox_18 .df_flipbox_container.rotate.fb_floating_content .df_fb_back .fb_inner_content, .difl_flipbox_15 .df_flipbox_container.rotate.fb_floating_content .df_fb_back .fb_inner_content, .difl_flipbox_16 .df_flipbox_container.rotate.fb_floating_content .df_fb_back .fb_inner_content, .difl_flipbox_17 .df_flipbox_container.rotate.fb_floating_content .df_fb_front .fb_inner_content, .difl_flipbox_15 .df_flipbox_container.rotate.fb_floating_content .df_fb_front .fb_inner_content, .difl_flipbox_17 .df_flipbox_container.rotate.fb_floating_content .df_fb_back .fb_inner_content {
    transform: translateZ(100px) scale(.9);
}
.df_fb_back .fb_inner>*, .df_fb_front .fb_inner>* {
    min-width: 100%;
}

.difl_flipbox_23 .df_flipbox_container .df_fb_image_container, .difl_flipbox_27 .df_flipbox_container .df_fb_image_container, .difl_flipbox_18 .df_flipbox_container .df_fb_image_container, .difl_flipbox_32 .df_flipbox_container .df_fb_image_container, .difl_flipbox_26 .df_flipbox_container .df_fb_image_container, .difl_flipbox_31 .df_flipbox_container .df_fb_image_container, .difl_flipbox_25 .df_flipbox_container .df_fb_image_container, .difl_flipbox_30 .df_flipbox_container .df_fb_image_container, .difl_flipbox_15 .df_flipbox_container .df_fb_image_container, .difl_flipbox_24 .df_flipbox_container .df_fb_image_container, .difl_flipbox_29 .df_flipbox_container .df_fb_image_container, .difl_flipbox_28 .df_flipbox_container .df_fb_image_container, .difl_flipbox_17 .df_flipbox_container .df_fb_image_container, .difl_flipbox_16 .df_flipbox_container .df_fb_image_container {
    max-height: 400px!important;
}
.difl_flipbox_39 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_36 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_36 .df_fb_front .df_fb_image_container, .difl_flipbox_12 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_38 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_16 .df_fb_front .df_fb_image_container, .difl_flipbox_14 .df_fb_front .df_fb_image_container, .difl_flipbox_5 .df_fb_front .df_fb_image_container, .difl_flipbox_23 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_28 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_13 .df_fb_front .df_fb_image_container, .difl_flipbox_35 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_27 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_13 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_26 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_17 .df_fb_front .df_fb_image_container, .difl_flipbox_18 .df_fb_front .df_fb_image_container, .difl_flipbox_25 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_4 .df_fb_front .df_fb_image_container, .difl_flipbox_12 .df_fb_front .df_fb_image_container, .difl_flipbox_6 .df_fb_front .df_fb_image_container, .difl_flipbox_40 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_35 .df_fb_front .df_fb_image_container, .difl_flipbox_34 .df_fb_front .df_fb_image_container, .difl_flipbox_33 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_14 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_11 .df_fb_front .df_fb_image_container, .difl_flipbox_3 .df_fb_front .df_fb_image_container, .difl_flipbox_33 .df_fb_front .df_fb_image_container, .difl_flipbox_15 .df_fb_front .df_fb_image_container, .difl_flipbox_34 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_11 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_24 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_37 .df_fb_back .df_fb_button_wrapper {
    text-align: center;
}

.difl_flipbox_15 .df_fb_front .df_fb_image_container img {
    max-width: 58%!important;
}
.df_fb_image_container img {
    vertical-align: top;
}
.df_fb_back, .df_fb_button, .df_fb_front, .df_fb_image_container img {
    border-style: solid;
    border-width: 0;
}
img {
    max-width: 100%;
    height: auto;
}

/*back*/


.difl_flipbox_15 .df_fb_back .fb_inner {
    background-image: url(https://diviedge.com/demo-diviflash/wp-content/uploads/2020/10/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 30px!important;
    padding-left: 30px!important;
    align-items: center;
}

.difl_flipbox_16 .df_flipbox_container.rotate.fb_floating_content .df_fb_front .fb_inner_content, .difl_flipbox_18 .df_flipbox_container.rotate.fb_floating_content .df_fb_front .fb_inner_content, .difl_flipbox_18 .df_flipbox_container.rotate.fb_floating_content .df_fb_back .fb_inner_content, .difl_flipbox_15 .df_flipbox_container.rotate.fb_floating_content .df_fb_back .fb_inner_content, .difl_flipbox_16 .df_flipbox_container.rotate.fb_floating_content .df_fb_back .fb_inner_content, .difl_flipbox_17 .df_flipbox_container.rotate.fb_floating_content .df_fb_front .fb_inner_content, .difl_flipbox_15 .df_flipbox_container.rotate.fb_floating_content .df_fb_front .fb_inner_content, .difl_flipbox_17 .df_flipbox_container.rotate.fb_floating_content .df_fb_back .fb_inner_content {
    transform: translateZ(100px) scale(.9);
}

.difl_flipbox_16 .df_fb_back .title, .difl_flipbox_18 .df_fb_back .title, .difl_flipbox_15 .df_fb_back .title, .difl_flipbox_17 .df_fb_back .title {
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    color: #ffffff!important;
    text-align: center!important;
}
.et_pb_column_1_3 h4, .et_pb_column_1_4 h4, .et_pb_column_1_5 h4, .et_pb_column_1_6 h4, .et_pb_column_2_5 h4 {
    font-size: 18px;
}
h4 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
}

.difl_flipbox_16 .df_fb_back .fb-text, .difl_flipbox_15 .df_fb_back .fb-text, .difl_flipbox_17 .df_fb_back .fb-text, .difl_flipbox_18 .df_fb_back .fb-text {
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 300!important;
    font-size: 16px!important;
    color: #ffffff!important;
    text-align: center!important;
}

.difl_flipbox_16 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_18 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_15 .df_fb_back .df_fb_button_wrapper, .difl_flipbox_17 .df_fb_back .df_fb_button_wrapper {
    margin-top: 42px!important;
    text-align: center;
}

.difl_flipbox_15 .df_fb_back .df_fb_button, .difl_flipbox_18 .df_fb_back .df_fb_button, .difl_flipbox_16 .df_fb_back .df_fb_button, .difl_flipbox_17 .df_fb_back .df_fb_button {
    color: #FFFFFF!important;
}
.difl_flipbox_17 .df_fb_button, .difl_flipbox_18 .df_fb_button, .difl_flipbox_16 .df_fb_button, .difl_flipbox_15 .df_fb_button {
    border-radius: 44px 44px 44px 44px;
    overflow: hidden;
    border-color: #FFFFFF;
}
.df_fb_back, .df_fb_button, .df_fb_front, .df_fb_image_container img {
    border-style: solid;
    border-width: 0;
}
.df_fb_button {
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
}
a, a:hover {
    text-decoration: none;
}
a {
    color: #2ea3f2;
}



/*hover effect*/
/*front*/
.df_flipbox_container.rotate_left.hover .df_fb_front, .df_flipbox_container.rotate_left:hover .df_fb_front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.difl_flipbox_15 .df_fb_back .fb_inner:hover, .difl_flipbox_15 .df_fb_front .fb_inner:hover {
    background-image: url(https://diviedge.com/demo-diviflash/wp-content/uploads/2020/10/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*back*/
.df_flipbox_container.rotate_left.hover .df_fb_back, .df_flipbox_container.rotate_left:hover .df_fb_back {
    -webkit-transform: translateX(-100%) rotateY(0);
    transform: translateX(-100%) rotateY(0);
}

.difl_flipbox_15 .df_fb_back .fb_inner:hover, .difl_flipbox_15 .df_fb_front .fb_inner:hover {
    background-image: url(https://diviedge.com/demo-diviflash/wp-content/uploads/2020/10/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}