

:root {
    --global-typography-font-family: aktiv-grotesk, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --global-typography-font-weight: 400;
}


* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgba(0, 0, 0, .05);
}

body {
    width: 100%;
    text-align: center;

    font-family: var(--global-typography-font-family);
    font-weight: var(--global-typography-font-weight);
}

article {
    display: flex;
    flex-direction: column;

}

article + article {
    margin-top: 100px;
}

article .title {
    /*margin-top: 100px;*/
    background-color: white;

    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
a, a:hover, a:active, a:visited {
    color: black;
    text-decoration: none;
    -webkit-text-decoration-style: unset;
}

article .container ul {
    margin: 50px auto 0;
    width: 1200px;
    list-style: none;
    text-align: left;
}
article .container ul li {
    padding-top: 20px;
    font-size: 18px;
}

article .container ul li:hover * {
    color: #2ea3f2;
}

article .container ul li:first-child {
    padding-top: 0;
}